.stop {
  height: 64px;
  margin-top: 16px;
  padding: 2px 16px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stop .title {
  height: 28px;
  font-size: 1rem;
}

.stop .subtitle {
  height: 20px;
  font-size: 0.75rem;
}
