.stop {
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
}

.stop:hover {
  color: #082456;
  cursor: pointer;
}

.stop .primary {
  font-size: 1.2em;
  padding-bottom: 6px;
  flex-shrink: 2;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.stop .meta div {
  font-size: 0.9rem;
  white-space: nowrap;
}
