.stop {
  width: 100%;
  padding: 14px;
  color: #ebdbb2;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.stop:hover {
  background-color: #504945;
  cursor: pointer;
}

.stop .primary h1 {
  font-size: 2rem;
  padding-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.stop .primary p {
  display: block;
  font-size: 1rem;
}

.stop .meta div {
  font-size: 0.9rem;
  padding-left: 10px;
}
